.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.stopwatch{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}