html{
  background-color: #e6e6e6;
}

.App {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* align-items: center; */
  background-color: #e6e6e6;
  padding: 20px;
}

.addButton{
  font-size: 12px;
  /* width: 140px;
  height: 140px; */
  border-radius: 100%;
}

h1{
  margin: 0px 0px;
  padding: 0px;
  width: 130px;
  text-align: center;
  cursor: default;
}

.footer{
  position: absolute;
  bottom: 0px;
  font-size: 10px;
}

button{
  cursor: pointer;
  border: none;
  background-color: white;
}

button:focus{
  outline: none;
}

.stopwatch{
  width: 140px;
  height: 120px;
  position: relative;
  padding: 5px 20px;
  margin: 10px;
  border: 1px solid #111111;
  border-radius: 5px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.x{
  font-size: 14px;
  padding: 4px 6px;
  font-weight: 700;
  border: none;
  background: none;
  position: absolute;
  right: 0;
  top: 0;
  color: red;
  opacity: 0.5;
}

.x:focus{
  outline: none;
}

.x:hover{
  opacity: 1;
}

.timerControls{
  font-size: 14px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.RED{
  color: red;
}

.GREEN{
  color: green;
}